body{
  background-color: #f6f6f6;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.green{
  height: 80%;
  width: 80%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pink{
  height: 80%;
  width: 80%;
  background-color: fuchsia;
  /* Will allow movement of the element */
  position: relative;
  /* Movement can be applied here */
  /* top: 300px; */
}

.blue-circ{
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
}

.top{
  top: 0;
}

.bottom{
  bottom: 0;
}

.left{
  left: 0;
}

.right{
  right: 0;
}